@import './mixins.module.scss';
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@keyframes animate_in {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

:root {
  --orange: #ef6416;
  // --cursor-background: transparent;
  // --cursor-pointer: white;
}

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  padding: 0rem;
  margin: 0rem;
  font-size: 1.6rem;
  --cursor-background: transparent;
  --cursor-pointer: white;
  // animation: animate_in 0.5s ease-in-out;
}

/* Flashlight Overlay */
:root {
  cursor: none;
}
.custom_cursor {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  // box-shadow: 0.5rem 1rem 5rem #888888;
  // opacity: 0.5;
  pointer-events: none;
  border: 0.15rem solid var(--orange);
  background-color: var(--cursor-background);
  transition: 0.1s;
}
.custom_pointer {
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--cursor-pointer);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  pointer-events: none;
}

button,
input,
textarea {
  font-family: 'Ubuntu', sans-serif;
}
html,
body {
  max-width: 151rem;
  margin: 0rem auto;
  color: white;
  background-color: black;
  font-size: 62.5%;
  scroll-behavior: smooth !important;
  // cursor: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  cursor: none;
}
a:hover {
  --cursor-background: #ef6616a2;
  --cursor-pointer: transparent;
}
