// MEDIA QUERIES PER SCREEN SIZE

@mixin phones {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin largephone {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1040px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1370px) {
    @content;
  }
}

@mixin darkTheme {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin centerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
  background-color: var(--primary-color-lighter);
  position: relative;
  img {
    width: 100%;
  }
}

@mixin button_style {
  padding: 3.3rem 4.5rem;
  border-radius: 0.66rem;
  border: 0.1rem solid #d9d9d9;
  background: #1a1a1a;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    border: 0.1rem solid #ef6416;
    color: #ef6416;
  }
}

@mixin horizontal_slider {
  width: 100%;
  overflow-x: auto;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  // transition: 0.3s;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
